# Temp files
.*.swp
.*.swo
*.sock

# Pattern files
client_*.pattern

# Log and JSON files
host_speed*.log
host_speed*.json
switch_info*.log
switch_*.json
*.json.tar.gz
archive/

*/log/client_*
*/log/total*
*/log/global*
*/log/ctrl_traffic
*/log/*.tar

*/log/*/client_*
*/log/*/total*
*/log/*/global*
*/log/*/ctrl_traffic
*/log/*/*.tar

# Temp files
tmp/
